

<% if(user_type=="U" ){%>
    <%- include('./partials/navigation') %>
        <%}%>

<%if(user_type=="A"){%>
<%- include('./partials/navigationadmin') %>
 <%}%>
 <% if(user_type=="T" ){%>
 <%- include('./partials/navigationtrainer') %>
 <%}%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/my-login.js"></script>
    </style>
</head>

<body >
    
    <section class="h-100" style="margin-left: 200px; margin-top: 40px;">
        <div class="container h-100">
             <form  >
                                <div class="form-group">
                                    <label for="email">Date</label>
                                    <input id="date" type="date" class="form-control" name="date" value="" required
                                        autofocus >
                                   
                                </div>
    
                            <div class="form-group">
                            <table class="table" >
                                <thead class="">
                                    <tr>
                                        
                                         <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">email</th>
                                        <th scope="col">Phoneno</th>

                                        
                                        </tr>
                                        </thead>
                                        
                                    
                                <tbody>
                                    <% for(var i=0;i<users.length;i++){%>
                                    <tr>
                                       
                                           
                                        <td><input type="checkbox" value="<%-users[i].user_id%>" class="checkboxspecial" name="" id=""></td>
                                        <td>
                                            <%-users[i].name%>
                                        </td>
                                        <td>
                                            <%-users[i].email%>
                                        </td>
                                        <td>
                                            <%-users[i].phoneno%>
                                        </td>
                                        
                                       
                                      
                                        
                                    </tr>
                                    <%}%>
                                    
                                </tbody>
                            </table>
                            </div>
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block" onclick="submitattendence()">
                                        Submit
                                    </button>
                                </div>
                                
                            </form>
                           
        </div>
        <p id="success"></p>
    </section>
    <script>
        const date=new Date();
        console.log(date);
    //     const d=date.toLocaleDateString();
    //     console.log(d);
    //    document.getElementById("date").max=d;

    async function submitattendence(){
        var id=[];
        var checkboxes=document.getElementsByClassName("checkboxspecial");
        console.log(checkboxes[0].value);


        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked==true){
                id.push(checkboxes[i].value);
            }
        }

        console.log(id);

         const form = document.querySelector('form');
         const date=form.date.value;
      const res=  await fetch("/attendence/update",{
            credentials: "include",
            method: "POST",
            body: JSON.stringify({ users:id,date:date }),
            headers: { 'Content-Type': 'application/json' }
        })

        console.log(res);
        if(res.status==200){
            document.getElementById("success").value="Inserted Successfully ";
        }
    }
    </script>
</body>

</html>